.mainHeader {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background: linear-gradient(to right, rgb(148,190,99), rgb(209,182,169));
    position: fixed;
    right:0;
    left: 0;
    z-index: 999;
}

.logo {
    margin-top: 2vh;
    width: auto;
    height: 9vh;
    mix-blend-mode: multiply;
}

#mainSection {
    height: 50vh;
    width: 100vw;
    margin-top: 15vh;
    position: relative;
    background: black;
    border: none;
    margin-bottom: 14vh;
}

bgVideo {
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    border: none;
    margin: none;
}

.quote {
    position: absolute;
    top: 35%;
    left: 5%;
    height: 60%;
    width: 90%;
    font-size: 30px;
    font-weight: 550;
    text-shadow: 3px 2px 3px black;
    text-align: center;
    color: white;
}

.box {
    width: 300px;
    height: 300px;
    box-shadow: 8px 8px 4px grey;
    border-style: outset;
    border-color: rgb(148,109,99);
    border-width: 4px;
    border-radius: 6px;
    background: white;
    padding-left: 100px;
    margin-left: 100px;
    box-sizing: border-box;
}

.box h1 {
    color:blue;
}

div p {
    color: red;
}
footer {
    margin:top 4vh;
}

@media screen and (min-width: 600px) {
    .box {
        width: 500px;
        height: 500px;
    }
}

article {
    background: yellow;
}

div + p {
    color: green;
}

.box2 {
    background-image:url('https://wallpaperbrowse.com/media/images/0d1a2e8c94f7d902b16340a35d51fd6f--baby-pandas-giant-pandas.jpg');
    background-color:white;
    display: block;
}

.floating {
    float: right;
}


.flexWrapper {
    height: 500px;
    width: 500px;
    background: green;
}